.c-table {
  width: 100%;
  margin: 0px 5px;
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border: 1px solid #515357;
    p {
      margin: 0;
    }
  }
  li:nth-child(even) {
    background-color: #101010;
  }
  &__title {
    @include displayCenter();
    font-size: 14px;
    color: #fff;
  }
  &__lengthBox {
    @include displayCenter();
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    background-color: #101010;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    margin: 0px 0px 3px 3px;
    padding: 5px;
  }
}
